header.header
  img(src="assets/images/profilePhoto.png" alt="profile Photo").header__img
  h1.header__title Rodney Cotton
  p.header__text Helsinki, Finland
  .data
    .data-card
      p.data-card__number 100
      p.data-card__text Posts
    .data-card
      p.data-card__number 2,242
      p.data-card__text Followers
    .data-card
      p.data-card__number 1,432
      p.data-card__text Following

