main.main
  .gallery
    img(src="./assets/images/photo1.png" alt="photo1").gallery__img
    img(src="./assets/images/photo2.png" alt="photo2").gallery__img
    img(src="./assets/images/photo3.png" alt="photo3").gallery__img
    img(src="./assets/images/photo4.png" alt="photo4").gallery__img
    img(src="./assets/images/photo5.png" alt="photo5").gallery__img
    img(src="./assets/images/photo6.png" alt="photo6").gallery__img